@model List<Entity.SavedBookmarksPerUser>


<table class="table">
    <tr>
        <th>
            Short description
        </th>
        <th>
            URL
        </th>
        <th>
            Number clicked
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Bookmark.ShortDescription)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Bookmark.URL)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NumberClicked)
    </td>
</tr>}

</table>

